body {
  font-family: sans-serif;
  background-color: rgb(65, 37, 72);
}

.contenedor {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 60px;
  border-radius: 12px;
}

.contenedorInterno {
  padding: 40px;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-style: oblique;
}

label {
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
}

input {
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

#advertencia {
  color: red;
  text-align: center;
}

#labelResultado {
  margin-top: 20px;
}
